/* -------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #525252;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}




/*--------------  footer --------------*/
footer {
    background-color: #333333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    float: left;
    list-style: none;
}

.social-links {
    float: right;
    list-style: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border-bottom: 0;
    color: #808080;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #d0d0d0;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-instagram:hover {
    color: #bc2a8d;
}
footer p {
    text-align: center;
    margin-top: 20px;
    color: #808080; 
}