/* -------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #525252;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.whole-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

#main-container{
    width:100%;
    height: 700px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*--------------  search-bar --------------*/
#search-bar-container{
    text-align: center;
    height: 100px;
}

.search-bar-icon{
    width: 5%;
    height: auto;
    border: 3px solid #931a25;
    border-radius: 200px;
    padding: 10px 10px 10px 10px;
    margin-right: 24px;
    vertical-align: middle;

}
#search-bar {
    display: inline-block;
    width: 54%;
    vertical-align: middle;
}

#search-bar-label{
    margin-right: 10px;
    font-size: 22px;
    font-weight: 400;
    width: 30%;
    text-transform: uppercase;
    vertical-align: middle;
}

#search-input{
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
    width: 70%;
}

#search-btn{
    text-transform: uppercase;
    font: 'Lato';
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 400;
    background-color: rgba(245, 239, 239, .8);
    transition: background-color 0.2s, color 0.2s;
}
#search-btn:hover,
#search-btn:active{
    background-color: #ffcb8e;
    color: #931a25;
}
/*--------------  list container --------------*/
#list-container{
    display: inline-block;
    width: 30%;
    margin-right: 2%;
    margin-left: 4%;
    height: 600px;
    background-color: rgba(245, 239, 239, .8);
    border-radius: 0.5em;
    position: relative;
}

.list-scrollbar{
    overflow-y: auto;
    width: 100%;
    height: 580px;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
}

.foodTruck{
    width: 90%;
    height: auto;
    vertical-align: middle;
    background-color: #ffcb8e;
    margin: 2px 1px 2px 1px;
    border-radius: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.list-truck-icon{
    width: 12%;
    height: auto;
}

.foodtruck-list-info{
    display: inline-block;
    width: 80%;
}


/*--------------  Map --------------*/
#map-div-container{
    display: inline-block;
    width: 60%;
    height: 600px;
    position: relative;
    margin-right: 4%;
   
}

#map-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

/*--------------  Info Container --------------*/
#info-container{
    display: inline-block;
    margin-right: 3%;
    margin-left: 2%;
    width: 20%;
    height: 600px;
    background-color: rgba(245, 239, 239, .8);
    border-radius: 0.5em;
}
/*--------------  Yelp Reviews --------------*/
#yelp-reviews{
    margin-left: 4%;
    width: 92%;
    height: 300px;
    background-color: rgba(245, 239, 239, .8);
    border-radius: 0.5em;
}

#yelp-content{
    width: 100%;
    height: 100%;
}

.yelp-content-box{
    display: inline-block;
    width: 30%;
    height: 94%;
    margin-left: 3%;
    padding-top: 9px; 
    margin-top: 9px;
    vertical-align: middle;
    font-weight: 400;
}

.yelp-name-rating-cont{
    margin-top: 195px;
    margin-left: 300px;
    text-align: end;
    margin-right: 25px;
}

.yelp-content-name{
    font-size: 28px;
    font-weight: 400;
    color: #ffff;
}
.rating-img{
    width: 80%;
    margin-top: 5px;
    height: auto;
}

.yelp-info-p-top{
    padding-top: 27px;
}
.yelp-info-p{
    margin-top: 12px;
    margin-bottom: 20px;
}

/*--------------  footer --------------*/
footer {
    background-color: #931a25;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    float: left;
    list-style: none;
}

.social-links {
    float: right;
    list-style: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border-bottom: 0;
    color: #808080;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #d0d0d0;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-instagram:hover {
    color: #bc2a8d;
}
footer p {
    text-align: center;
    margin-top: 20px;
    color: #808080; 
}